<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name">

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity
            android:name=".common.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.about_us.AboutUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_return.ui.StockReturnSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".common.RegisterUUIDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.login.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_in.base.ui.StockInSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.select_list.product_list.ProductSelectListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.select_list.product_batch_list.ProductBatchSelectListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.select_list.warehouse_list.WareHouseSelectListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_in.base.ui.StockInPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.scan_back.ui.CommonScanBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.task_list.ui.TaskListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.fail_log.ui.FailLogListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.fail_log.ui.FailLogMenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.select_list.logistics_company.LogisticsCompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.query.flow.ui.FlowQueryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.query.flow.ui.FlowQuerySettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_return.ui.StockReturnPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.select_list.customer_list.CustomerListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.association.ui.PackagingAssociationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.select_list.product_packaging_list.ProductPackagingSelectListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.disassemble.base.ui.DisassemblePDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.disassemble.base.ui.DisassembleWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.supplement_to_box.base.ui.SupplementToBoxActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.query.related.ui.RelatedQueryPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.query.related.ui.RelatedQueryListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.select_list.store_place_list.StorePlaceSelectListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.wait_upload_task.ui.WaitUploadMenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.stock_in_packaged.ui.StockInPackagedSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.stock_in_packaged.ui.StockInPackagedPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_in.base.ui.StockInWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.stock_in_packaged.ui.StockInPackagedWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.exchange_warehouse.ui.ExchangeWarehouseSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.exchange_warehouse.ui.ExchangeWarehouseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.exchange_goods.base.ui.ExchangeGoodsSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.exchange_goods.base.ui.ExchangeGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_out.stock_out_fast.ui.StockOutFastSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_out.stock_out_fast.ui.StockOutFastPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_out.stock_out_fast.ui.StockOutFastWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_out.base.ui.StockOutPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_out.base.ui.StockOutSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_out.base.ui.StockOutConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_return.ui.StockReturnWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.association.ui.PackagingAssociationWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.exchange_warehouse.ui.ExchangeWarehouseWaitUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.exchange_goods.base.ui.ExchangeGoodsWaitUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_out.base.ui.StockOutWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_in.package_stock_in.ui.PackageStockInSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_in.package_stock_in.ui.PackageStockInPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.stock_in.package_stock_in.ui.PackageStockInWaitUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.association.ui.PackagingAssociationSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.in_warehouse.ui.InWarehousePackageSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.in_warehouse.ui.InWarehousePackageWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.in_warehouse.ui.InWarehousePackagePDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.label_edit.ui.LabelEditSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.label_edit.ui.LabelEditPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.label_edit.ui.LabelEditWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.inventory.activity.InventoryListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.inventory.activity.InventoryDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.inventory.activity.InventoryPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.inventory.activity.InventoryFinishListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".custom_module.maogeping.packaging_association_custom.ui.PackagingAssociationCustomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".custom_module.maogeping.packaging_association_custom.ui.PackagingAssociationCustomSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".custom_module.maogeping.packaging_association_custom.ui.PackagingAssociationCustomWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.batch_management.ui.BatchManagementListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.batch_management.ui.BatchManagementAddBatchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.scan_back.ui.CommonJsonScanBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.disassemble.all.ui.DisassembleAllPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.disassemble.all.ui.DisassembleAllWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.supplement_to_box.produce.ui.ProduceSupplementToBoxActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.scan_back.ui.CommonOrderProductScanBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.statistics.activity.PackageStatisticsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.statistics.activity.PackageStatisticsProductFilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.statistics.activity.PackageStatisticsByProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.statistics.activity.PackageStatisticsByDateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.packaging.statistics.activity.PackageStatisticsDateFilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.exchange_goods.order.activity.OrderExchangeGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.exchange_goods.order.activity.OrderExchangeGoodsDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.exchange_goods.order.activity.OrderExchangeGoodsScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.exchange_goods.order.activity.OrderExchangeGoodsScanBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".custom_module.wanwei.stock_out.ui.WanWeiStockOutPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".custom_module.wanwei.stock_out.ui.WanWeiStockOutSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".custom_module.wanwei.stock_out.ui.WanWeiStockOutWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".custom_module.wanwei.stock_return.ui.WanWeiStockReturnSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".custom_module.wanwei.stock_return.ui.WanWeiStockReturnPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".custom_module.wanwei.stock_return.ui.WanWeiStockReturnWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.logistics_statistics.stock_in_statistics.StockInStatisticsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.logistics_statistics.statistical_dimension.StatisticalDimensionListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.logistics_statistics.statistics_list.StatisticsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.logistics_statistics.stock_out_statistics.StockOutStatisticsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.logistics_statistics.stock_return_statistics.StockReturnStatisticsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.logistics_statistics.exchange_warehouse_statistics.ExchangeWarehouseStatisticsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.logistics_statistics.exchange_goods_statistics.ExchangeGoodsStatisticsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.scan_back.ui.CommonPackageScanBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.select_list.organization_list.OrganizationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.relate_to_nfc.activity.RelateToNFCScanBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.relate_to_nfc.activity.RelateToNFCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.query.code_status.ui.CodeStatusQueryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.query.code_status.ui.CodeStatusQueryDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.identification_replace.IdentificationReplaceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".module.stock_out.order.activity.CommonOrderStockOutListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".module.stock_out.order.activity.CommonOrderStockOutDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".module.stock_out.order.activity.CommonOrderStockOutPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".module.stock_out.order.activity.CommonStockOutWaitUploadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.breed.in.add.BreedInAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.breed.in.details.BreedInDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.breed.in.list.BreedInListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.common_list.CommonSelectListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.pig_variety.PigVarietyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.supplier_list.SupplierListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.image_preview.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.breed.out.list.BreedOutListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.breed.out.add.BreedOutAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.breed.out.details.BreedOutDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.breed_in_batch.BreedInBatchListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.slaughter.in.list.SlaughterInListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.slaughter.in.details.SlaughterInDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.breed_out_batch.BreedOutBatchListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.processing_approach.in.list.ProcessingApproachInListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.processing_approach.in.details.ProcessingApproachInDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.slaughter_in_batch.SlaughterInBatchListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.employee_list.EmployeeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.pigsty_list.PigstyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.feeding.list.FeedingListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.feeding.details.FeedingDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.weight.list.WeightListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.weight.details.WeightDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.energy.list.EnergyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.energy.details.EnergyDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".custom_module.delingha.breed.enter_fence.list.EnterFenceListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".custom_module.delingha.breed.enter_fence.details.EnterFenceDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.enter_fence_list.EnterFenceBatchListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.breed.out.details.BreedOutScanBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.breed.in.details.BreedInScanBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.breed.ear_reset.EarResetListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.exchange_pigsty.list.ExchangePigstyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.exchange_pigsty.details.ExchangePigstyDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.slaughter_weighing.details.SlaughterWeighingDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.slaughter_weighing.list.SlaughterWeighingListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.slaughter_weighing.SlaughterWeighingBatchListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.health_care.list.HealthCareListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.health_care.details.HealthCareDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.immunity.list.ImmunityListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.immunity.details.ImmunityDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.treatment.list.TreatmentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.treatment.details.TreatmentDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.disinfect.list.DisinfectListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.disinfect.details.DisinfectDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.harmless.list.HarmlessListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.daily_management.harmless.details.HarmlessDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.breed.task.list.BreedTaskListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.jgw.delingha.custom_module.delingha.select_list.breed_task.BreedTaskTypeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.jgw.delingha.custom_module.delingha.order_stock_in.activity.OrderStockInListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.jgw.delingha.custom_module.delingha.order_stock_in.activity.OrderStockInDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.jgw.delingha.custom_module.delingha.order_stock_out.activity.OrderStockOutListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.jgw.delingha.custom_module.delingha.order_stock_out.activity.OrderStockOutDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.jgw.delingha.custom_module.delingha.order_stock_out.activity.OrderStockOutPDAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.jgw.delingha.custom_module.delingha.order_stock_out.activity.OrderStockOutScanBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.jgw.delingha.custom_module.delingha.select_list.weight_type_list.WeightTypeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.jgw.delingha.custom_module.delingha.select_list.weight_object.WeightObjectListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

    </application>
</manifest>